# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js build output
/.next/
/out/

# local environment files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript incremental compilation
*.tsbuildinfo

# editor and operating system files
.DS_Store
Thumbs.db
.vscode/
.idea/
